<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>About page</title>
	</head>
	<body>
		{{> header}}
		<h1>{{pageTitle}}</h1>
		<p>Lorem ipsum dolor sit ame t consectetur adipiscing</p>
		
		{{> footer}}
	</body>
</html>